<div class="my-4">
    <a class="text-3xl leading-10 block bg-blue-500 hover:bg-blue-600 text-white flex items-center duration-150 transition-colors" href="/question/{{ category.id }}/{{ categories_first_question_id[category.id] }}">
        <span class="w-20 text-3xl leading-8 flex items-center justify-center h-full">{{ category.count }}</span>
        <span class="flex items-center justify-center min-h-16">{{ category.name }}</span>
    </a>
    <div class="flex flex-col flex-wrap">
        {% for subcategory in category.categories.values() %}
            <a class="bg-blue-100 hover:bg-blue-200 flex duration-150 transition-colors" href="/question/{{ category.id + '-' + subcategory.id }}/{{ categories_first_question_id[category.id + '-' + subcategory.id] }}">
                <span class="w-20 text-3xl leading-8 flex items-center justify-center h-16">{{ subcategory.count }}</span>
                <span class="flex items-center justify-center h-16">{{ subcategory.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>