{#<div class="h-24 bg-[#800608] text-white mb-8 flex flex-col items-center justify-center">#}
{#    <span class="text-center">#}
{#        <span class="font-bold text-4xl"><a href="/">Modded SAT Question Bank</a></span> <br>#}
{#        <span class="py-2 mt-2">by <a href="https://linktr.ee/mdn522" class="underline font-bold" target="_blank">Abdullah Mallik</a> dedicated to#}
{#            <span class="font-bold" title="Bella (TJ)">Someone Special</span>#}
{#            and <a class="font-bold underline" href="http://dptutorials.net/" target="_blank">DPT SAT Batches</a>#}
{#        </span>#}
{#    </span>#}
{#</div>#}

<div class="bg-orange-500 text-white text-center mb-8 flex flex-col items-center justify-center" style="/*background-color: rgb(241, 121, 3);*/">
    <div class="font-bold text-4xl my-2"><a href="/">Modded SAT Question Bank</a></div>
    <div class="mb-2 px-2">by <a href="https://linktr.ee/mdn522" class="underline font-bold" target="_blank">Abdullah Mallik</a> dedicated to
        <a class="font-bold underline" href="http://dptutorials.net/" target="_blank">DPT SAT Batches</a> and <span class="font-bold" title="Bella">Someone Special</span>
    </div>
</div>