{% extends "base.html" %}

{% block title %}SAT Suite Question Bank - Categories{% endblock %}

{% block content %}

{% include 'includes/header.html' %}

<div class="container mx-auto px-2" x-data>
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
        <div>
            <div class="text-4xl font-semibold">Reading and Writing ({{ module_count['english'] }})</div>
            {% for category in categories.values() if category.module == 'english' %}
                {% include 'includes/category.html' %}
            {% endfor %}
        </div>
        <div>
            <div class="text-4xl font-semibold">Math ({{ module_count['math'] }})</div>

            {% for category in categories.values() if category.module == 'math' %}
                {% include 'includes/category.html' %}
            {% endfor %}
        </div>
    </div>

</div>

    <div class="mt-12 mb-1 text-center text-slate-500">Questions are sourced from <a class="underline" href="https://satsuitequestionbank.collegeboard.org/" target="_blank">College Board SAT Question Bank</a></div>

<script>
    let categories = {{categories | tojson | safe}};
</script>

{% endblock %}